/*This is how we comment in css, gumagamit tayo ng forward slash, dalawang asterisk, tapos forward slash ulit. Pwede din dito ang control + forward slash para automatic ang comment.*/
/**/

/*

Paano gamitin tong notes: 

		I-comment out muna or cut ang ibang codes tapos ipaste or uncomment para makita ang effect.

*/

/*Selectors in CSS*/

/*1. UNIVERSAL SELECTOR*/
/*Kapag universal selector, gumagamit tayo ng asterisk.*/
/*Kapag universal, naaapply siya sa lahat*/
/*Yung pinaka-unang option, yung Courier new, ayun yung pinakagagamitin.*/
/*Yung monospace, ayun yung back up*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*2. TYPE SELECTOR */
/*Kapag type selector, mga tags yun ng HTML, like h1, p, ol, at iba pa*/
/*Sa part na 'to, kung babalikan natin yung notes, sabi natin, ang rule ng CSS Specificity, kapag mas malapit sa HTMl code, mas susundin. Pero nasunod pa din to si Yellow, hindi si blue na nasa h1. Bakit? Kasi may    "!important"   */
h1 {
	color: yellow !important;
	text-align: center;
	font-size: 2rem;
}

/*3. CLASS SELECTOR*/
/*Ang mga class sa HTML, may nakalagay sa loob ng tag na:  class="value"   */
/*Kapag pumunta ka ng HTML codes, eto yung list. Meron silang CLASS sa loob ng tag.*/
.class-schedule {
		color:  green;
		text-transform: uppercase;
}

/*4. ATTRIBUTE SELECTOR*/
/*Eto ang mga HTML tag na may katangian. Like yung mga may required, etc.*/
/*sa HTML codes, eto yung mga nasa forms*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*5. ID SELECTOR*/
/*Eto naman yung may mga specific ID sa loob ng HTML. Yung may id="" */
#greetings {
	color: violet;
}


/*COMBINATOR SELECTORS*/

/*1. ADJACENT SIBLING SELECTORS*/
/*Kailangan dito, sibling na magkatabi*/
h4 + img {
	height: 300px;
    width: 300px;
    border-radius: 150px;
}

/*2. GENERAL SIBLING SELECTOR*/
/*Dito, basta magkapatid under 1 parent element, okay lang kahit hindi magkatabi*/
/*Check HTML code lines 34 - 52. Andun si h2 saka sila a, magkalayo nga lang.  */
h2 ~ a, a {
	background-color: red;
}

/*3. CHILD SELECTOR*/
body > section > form > label {
    background-color: gray;
}

/*4. DESCENDANT SELECTOR*/
/*Eto, mga kaapu-apuhan na. Okay lang kahit hindi immediate na anak.*/
#landing .class-schedule {
	background-color: yellow;
	letter-spacing: 5px;
}