#paragraph {
	color: yellow;
}

* {
	font-family: Verdana;
	font-size: 20px;
}

h1 {
	font-size: 50px;
}

#text {
	text-transform: uppercase;
}

.list {
	background-color: #9CD489;
}

li[value="a"]{
	border: 2px solid #607C92;
}

img + ul {	
	list-style: none;
}

#things-to-be-learned img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

h4 ~p {
	text-align: center;
	color: black;
}


section > ul > li {
	letter-spacing: 2px;
	list
}